<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628584235404-mhn092lt15tpbp42v1p6kbpa24muvpik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628584235404-mhn092lt15tpbp42v1p6kbpa24muvpik</string>
	<key>API_KEY</key>
	<string>AIzaSyD6rDcTBn8_ah-jpgdBec8fLbblj2VFLFY</string>
	<key>GCM_SENDER_ID</key>
	<string>628584235404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>loginpage1-7733e</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage1-7733e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628584235404:ios:c5e974b1d35a5eeeca96a9</string>
</dict>
</plist>